/*needed code*/

.parallax {
  /* Specified height */
  height: 100vh;
  /* Fix element and background settings*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax.bg-1 {
  /* Image */
  background-image: url("housing.jpg");
  max-height: 600px;
}
.parallax.bg-2 {
  min-height: 500px;
}

h1{
  margin-top: 30px;
  text-align: center;
  background: linear-gradient(60deg,#ff0066,#000066,#B22222,#FFD700);
	background-attachment: fixed;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent
  
}

h4{
  color: white  ;
  text-align: center;
  
}

.Description{
    background: #fff;
    border-radius: 2px; 
    position: relative;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding-top: 0.9px;
    background-color: #eb4559;
    padding-bottom: 5px;
}

.Description1{
  background: #fff;
  border-radius: 2px; 
  position: relative;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background-color: #eb4559;

}

h5{
  text-align: left;
  font-size: 30px;
  position: relative;
  margin-left: 16px;
}

.phone{
  line-height: 0px;
  margin-left: 16px;
}

.email{
  line-height: 0px;
  margin-left: 16px;
}

p{
  color: white;
  letter-spacing: 0.01rem;
  font-size: 21px;
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}

/*scolled block*/
.scrolled {
  height: 330px;
  position: relative;
}

.container {
  position: relative;
}

.container1{
  position: relative;
  margin-left: 39px;
  margin-right: 39px;
  margin-top: 20px; 
}

/* goldplating */
body {
  color: white;
  font-size: 36px;
  font-family: Verdana;
}
body .parallax {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
body .parallax .container {
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
body .scrolled {
  background-color: white;
}
body .container {
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
}
