doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Error 500 - Internal Server Error
    link(rel='stylesheet', href='/stylesheets/error500-style.css')
  body
    main
      section.main-container
        // START SECTION MESSAGE
        section.container-legend
          h1.head_one 500 internal Server Error
          p.message_paragraph.p1
            | Sorry, something went wrong.
          p.message_paragraph.p2
            | A team of hightly trained monkeys has been dispatched to deal this situation.
        // END SECTION MESSAGE
        // START SECTION IMAGE
        section.container-image-error
          img.image-error(src='https://www.dropbox.com/s/cw9y45bsx42xtjc/None?raw=1&size=2048x1536&size_mode=3', alt='image of the IT guy')
        // START SECTION IMAGE
