doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 404 not found
    link(rel='stylesheet', href='/stylesheets/error404-style.css')
  body
    .not-found
      h1.hypertube.error 404
      h2 oops! 
      h2 Page not found!!
      h3
        a(href='javascript:history.back()')
            button.btn.draw-border Go back

    
